<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <%- include('_header'); -%>
        
        <!-- now here it is where we are going to define the part that will be changed afterwards -->
        <%- body -%>

        <%- include('_footer'); -%>
    </body>
</html>