<link rel="stylesheet" href="/css/user_profile.css">
<!-- now here is a thing that when we added the css here then when the page renders the css is linked inside the body just above this similar
is the case with the javascript file that when it is added it is not added at the end of the body but in the middle of the mody just after 
this h1 tag 
so now if we dont want this to happen then we have the solution in the ejs documentation that will be added in the index.js file-->
<h1>
    Codeial / Profile Page
</h1>
<p>Name: <%=user.name%></p>
<p>Email:<%=user.email%></p>
<form action="/users/delete-session" method="POST">
    <button type="submit">Sign Out</button>
</form>
        
      